<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Contact Information</h4>
                <address>
                    College of Management<br>
                    City, State ZIP Code<br>
                    Email: <a href="mailto:colman@colman.com" class="text-light">colman@colman.com</a><br>
                    Phone: <a href="tel:(058) 456-7890" class="text-light">(058) 456-7890</a>
                </address>
            </div>
            <div class="col-md-6">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="profile" class="text-light">Profile</a></li>
                    <li><a href="chat" class="text-light">Chat</a></li>
                    <li><a href="posts" class="text-light">Posts</a></li>
                    <li><a href="logout" class="text-light">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
