<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to our Smart City Social Network</h2>
    <br/>
    <%for (var i = 0; i < images.length; i++) {%>

            <img src="<%=images[i].name %>">
    <%}%>
</body>
</html>