body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.root {
    flex: 1;
    display: flex;
}

.navbar-nav .nav-link {
    margin-left: 20px;
}

#topNav{
    background-color: #afa1937a
}

.footer {
    background-color:	#212529;
    padding: 10px; 
    bottom: 0;  
    width: 100%;
    margin-top: 20px;
}

#logOutLink{ 
    right: 30px;
    position: absolute;
}
