body {
    background-color: #f5f5f5; /* Light gray background color */
}

.nav-tabs {
    justify-content: center; /* Center the tabs horizontally */
    margin-bottom: 20px; /* Add some spacing at the bottom of the tabs */
}

.nav-tabs .nav-item {
    flex: 0 0 auto; /* Make the tabs smaller */
    margin-right: 10px; /* Add spacing between the tabs */
}

.form-control {
    width: 300px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Center the big letters vertically and horizontally */
.big-letters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Style for big letters */
.big-letter {
    font-size: 3rem; /* Adjust the font size as needed */
    font-weight: bold;
    margin: 0 10px; /* Add spacing between the letters */
}

.mb-3 span{
    margin-top: 100px;
}